table {
	border: 0px solid #5252525;
	background-color: #d3d3d3;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-family: "Lucida Grande","Lucida Sans Unicode",,Arial,sans-serif;
}

td,th {
	
	padding: 5px;
	color: #333;
	
}

.meta {
	
	font-weight: bold;
}
thead {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
}
#background-attachment: scroll;
#background-clip: border-box;
#background-color: transparent;
#background-image: none;
#background-origin: padding-box;
#border-bottom-color: gray;
#border-collapse: separate;
#border-left-color: gray;
#border-right-color: gray;
#border-top-color: gray;
#color: black;
#display: table;
#font-family: Verdana, Arial, Helvetica, sans-serif;
#font-size: 12px;
#height: 211px;
#margin-bottom: 1px;
#margin-left: 0px;
#margin-right: 0px;
#margin-top: 1px;
#padding-bottom: 0px;
#padding-left: 0px;
#padding-right: 0px;
#padding-top: 0px;
#width: 1175px;