html, body, div, h1, h2, h3, h4, h5, h6, p, img,
dl, dt, dd, ol, ul, li, table, tr, td, form, object,
embed, article, aside, canvas, command, details,
fieldset, figcaption, figure, footer, group, header, hgroup, 
legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

body {
    font-family: "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
	height: 100%;
	overflow: hidden;
}

ul {
    list-style: none outside none;
	
}

ul, ol {
    padding: 0px;
}

li {
    margin: 5px 5px 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(34, 34, 34);
    line-height: 24px;
    font-family:"Halvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color:blue;
}

a:hover {
    text-decoration: underline;
}
.btn-primary{
	background-color: rgb(0,109,204);
	background-image: -moz-linear-gradient(center top, rgb(0,136,204),rgb(0,68,204));
	background-repeat: repeat-x;
	border-color:rgba(0,0,0,0.01)rgba(0,0,0,0.1)rgba(0,0,0,0.25);
}
.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-info,.btn-info:hover{
	text-shadow: 0px-1px 0px rgba(0,0,0,0.25);
	color: rgb(255,255,255);
}
.btn{
	display: inline-block;
	padding: 4px 10px;
	font-size: 13px;
	line-height:18px;
	color:rgb(51,51,51);
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
	background-color: rgb(250,250,250);
	background-image:-moz-linear-gradient(center top,rgb(255,255,255),rgb(255,255,255)25% rgb(230,230,230));
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color:rgb(204,204,204)rgb(204,204,204)rgb(187,187,187);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2)inset,0px 1px 2px rgba(0,0,0,0.05);
	cursor: pointer;
}

.label,input,select,textarea{
	font-family: "Helverica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight:normal;
	line-height:18px;
}

legend {
	display: block;
	width: 100%;
	padding: 0px;
	margin-bottom: 27px;
	font-size: 25.5px;
	line-height: 36px;
	color: rgb(51,51,51);
	border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color
					-moz-user-text-color rgb(238,238,238);
}
input,textarea,select,.uneditable-input{
	display: inline-block;
	width: 210px;
	/*height:18px;*/
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13pxx;
	line-height: 18px;
	color: rgb(85,85,85);
	border: 1px solid rgb(204,204,204);
	border-radius: 3px 3px 3px 3px;
	
}
input,textarea{
	box-shadow: 0px 1px 1px rgba(0,0,0,0.075)inset;
	-moz-transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s;
}
label{
	display: block;
	margin-bottom: 5px;
	color:rgb(51,51,51);
}
input[type="checkbox"]{
	width:35px;
}

/*-------------------------class well---------------------*/
.well{
	
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: rgb(245,245,245);
	border:1px solid rgba(0,0,0,0.05);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
	font-family: "Helvetica Neuse",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height: 18px;
	color: rgb(51,51,51);
}

/*---------------------buat message-------------------*/
.alert-danger,.alert-error,.alert-danger,.alert-heading,.alert-error.alert-heading{
	color:rgb(185,74,72);
}

.alert-danger,.alert-error {
	background-color:rgb(242,222,222);
	border-color:rgb(238,22,215);
}
.alert,.alert-heading{
	color:rgb(192,152,83);
}
.alert{
	padding :8px 35px 8px 14px;
	margin-bottom:18px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	background-color:rgb(252,255,255,0.5);
	border:1px solid rgb(251,238,213);
	border-radius:4px 4px 4px 4px;
}

/*------------------------- atas --------------------------*/
.header-bar {
    height: 32px;
    background: none repeat scroll 0% 0% #1B1B1B;
	box-shadow: 0px 4px 5px -1px rgba(200, 200, 200, 0.7);
    overflow: hidden;
}

#siteSearch {
    display: block;
    float: left;
    width: 180px;
    height: 23px;
    line-height: 20px;
    
    margin: 0;
    border: 0;
    font-size: 11px;
    background-position: 0 -450px;
    background-repeat: no-repeat;
    outline: none;
	position: absolute;
	right:120px;
}
h1#site_name {
    float: left;
    font-size: 18px;
	padding-left: 5px;
	padding-top: 2px;
}

#site_name a {
	color: white;
}

div#login_logout {
    float: right;
	padding-right: 5px;
	padding-top: 6px;
	color: white;
}

#login_logout a{
	color: white;
}

/*--------------- parent navigasi, main, footer -----------------*/
.container {
	margin: 0px;
	padding: 0px;
	outline-style: none;
	height : 100%;
}

/*------------------------- navigasi --------------------------*/
.navigation {
	width: 200px;
	float: left;
	top: 30px;
	left: 0px;
	bottom: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgb(245, 245, 245);
	border-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	list-style: none outside none;
}

.navigation-inner {
	padding: 15px;
}

.navigation ul li {
	list-style: none outside none;
	list-style-position: outside;
	cursor: pointer;
	text-decoration: none;
	padding: 1px 3px;
}

.navigation a {
	text-decoration: none;
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

.navigation a:hover {
	color: white;
}

.navigation li:hover {
	background: none repeat scroll 0% 0% #1B1B1B;
}

.navigation li.none {
	cursor: auto;
}

.navigation li.none:hover {
	background: none;
}

.navigation .children {
	padding-left: 1.5em;
}

.navigation h3.menu {
	color: white;
	padding: 0px 5px;
	background: none repeat scroll 0% 0% #1B1B1B;
	cursor: pointer;
}

.navigation h3.menu:hover {
	background: none repeat scroll 0% 0% #818181;
}

/*------------------------ footer --------------------------------*/
.footer-bar {
	position: absolute ;
	height: 20px;
	padding: 5px;
	left: 0px;
	bottom: 0px;
	right: 0px;
    border-top: 1px solid rgb(235, 235, 235);
	
}

.footer {
	clear: both;
    font-size: 0.85em;
    white-space: nowrap;
}

.footer ul li {
    display: inline;
}

.footer ul {
    color: rgb(153, 153, 153);
}

.content {
    padding: 0px 44px 5px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0;
}