/*------------------------- konten --------------------------*/
.main {
	position: absolute;
	top: 30px;
	left: 201px;
	right: 0px;
	bottom: 30px;
	padding: 5px;
	box-shadow: -10px 0px 10px -5px rgba(200, 200, 200, 0.7);
}

.main h2{
	color: white;
	height: 30px;
	padding: 10px 10px 5px;
	background: none repeat scroll 0% 0% #1B1B1B;
}

.main .table-menu {
	height: 30px;
	padding: 5px 5px;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    overflow: hidden;
}

.main .table-menu .paging {
	padding: 5px 5px;
    float: left;
}

.main .table-menu .paging {
	padding: 5px;
	margin: 2px;
    float: left;
}

.main .table-menu .paging  a{
	padding: 2px 2px;
	margin-right: 2px;
    text-decoration: none;
	color: #98bf21;
}

.main .table-menu .paging  a:hover{
}

.main .table-menu .paging  a.disabled{
	cursor: default;
}

.main .table-menu .paging  span.current{
	padding: 2px 2px 2px 8px;
	margin-right: 2px;
	border: 1px solid #000000;
	font-weight: bold;
	color: #FFFFFF;
}

.main .table-menu .paging  span.disabled{
	padding: 2px 2px 2px 8px;
	margin-right: 2px;
	border: 1px solid #999999;
	color: #999999;
	cursor: default;
}

.main .table-menu .paging  span.prevnext{
	border: 1px solid #000000;
	padding: 2px 2px 2px 8px;
	font-weight: bold;
}

.main .table-menu .search {
	margin-top: -2px;
	padding: 5px 5px;
    float: right;
}

.main .tablesorter {
	width:100%;
}

.add-form {
	width: 100%;
	display: none;
	background-color: #D3D3D3;
	border-bottom: solid 1px rgb(150, 0, 0);
}

.table-form {
	margin: 0px auto;
	padding: 10px 0px;
}

.edit-form {
	width: 100%;
	background-color: #D3D3D3;
	border-bottom: solid 1px rgb(150, 0, 0);
}

tr.alternate {
	background: none repeat scroll 0% 0% rgb(245, 250, 250);
}

td.label{
	padding-left: 30px;
	white-space: wrap;
}
td.bold{
	width: 100px;
	font-weight: bold;
}


/*------------------ detail ---------------*/
.detail {
	font-size: 12px;
	padding: 10px;
	line-height: 15px;
	height: 100%;
}

.detail-left {
	position: absolute;
	width: 450px;
}

.detail-right {
	position: absolute;
	float: left;
	right: 15px;
	left: 475px;
	max-height: 500px;
	padding: 0px 5px 0px;
}

p.flip {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	border-bottom: solid 1px #c3c3c3;
}

p.flip1, p.flip2, p.flip3, p.flip4, p.flip5 {
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	padding: 5px;
	border-bottom: solid 1px #c3c3c3;
}

div.panel1, div.panel2, div.panel3, div.panel4, div.panel5 {
	display: none;
	font-size: 12px;
}

span.right {
	float: right;
	font-weight: normal;
	font-size: 12px;
}
/*------------------ tabel ----------------*/
#zebra
{
	width:100%;
	border-collapse:collapse;
}

#zebra td, #zebra th 
{
	font-size:1em;
	border:1px solid #BEBEBE;
	padding:3px 7px 2px 7px;
}

#zebra th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#666;
	color:#ffffff;
}
#zebra tr.odd td 
{
	color:#000000;
	background-color:#D8D8D8;
}

#zebra td.center, #zebra th.center {
	text-align: center;
}

button.center {
	margin-left: 15px;
}
/*------------------- flash message ---------------*/
p.success {
	font-size:1.2em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: white;
	padding: 5px 0px;
	background: none repeat scroll 0% 0% #4670FF;
}

p.failed {
	font-size:1.2em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: white;
	padding: 5px 0px;
	background: none repeat scroll 0% 0% #000000;
}

/*------------------- ajax message --------------------*/
.image-load  {
	color: rgba(255, 255, 255, 0.0);
	width:100%;
	background: url(../images/loading.gif) no-repeat;
}

.image-no  {
	color: rgba(255, 255, 255, 0.0);
	width:100%;
	background: url(../images/delete.gif) no-repeat;
}

.image-yes  {
	color: rgba(255, 255, 255, 0.0);
	width:100%;
	background: url(../images/checklist.gif) no-repeat;
}
table{max-width:100%;border-collapse:collapse;border-spacing:0;}
.table{width:100%;margin-bottom:18px;}.table th,.table td{padding:8px;line-height:18px;text-align:left;border-top:1px solid #ddd;}
.table th{font-weight:bold;vertical-align:bottom;}
.table td{vertical-align:top;}
.table thead:first-child tr th,.table thead:first-child tr td{border-top:0;}
.table tbody+tbody{border-top:2px solid #ddd;}
.table-condensed th,.table-condensed td{padding:4px 5px;}
.table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapsed;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.table-bordered th+th,.table-bordered td+td,.table-bordered th+td,.table-bordered td+th{border-left:1px solid #ddd;}
.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0;border-radius:4px 0 0 0;}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0;border-radius:0 4px 0 0;}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child{-webkit-border-radius:0 0 4px 0;-moz-border-radius:0 0 4px 0;border-radius:0 0 4px 0;}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9;}
