html, body, div, a, h1, h2, h3, h4, h5, h6, p, img,
dl, dt, dd, ol, ul, li, table, tr, td, form, object,
embed, article, aside, canvas, command, details,
fieldset, figcaption, figure, footer, group, header, hgroup, 
legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

body {
    font-family: "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.4em;
	overflow: auto;
}

ul {
    list-style: none outside none;
	
}

ul, ol {
    padding: 0px;
}


h1, h2, h3, h4, h5, h6 {
    color: rgb(34, 34, 34);
    line-height: 24px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	cursor: pointer;
}

textarea {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	resize:none;
	overflow:auto;
	width: 100%;height: 100%; margin: 0; padding:0; 
}

input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    display: inline-block;
    height: 22px;
    margin: 0px;
    padding: 0px 5px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-right: 1px solid rgb(217, 217, 217);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    -moz-box-sizing: border-box;
    -webkit-border-image: none;
    -webkit-box-sizing: border-box;
    border-radius: 1px 1px 1px 1px;
}

/*------------------------- atas --------------------------*/
.header-bar {
	position: fixed;
    height: 30px;
	width: 100%;
    background: url(../images/header.png) repeat-x top left;
	z-index: 2;
	box-shadow: 0px 3px 15px black;
}

#site_name {
	width: 255px;
    float: left;
    font-size: 18px;
	padding-left: 5px;
	padding-top: 2px;
}

#site_name a {
	color: white;
}

#site_name h1 {
	float: right;
	font-size: 18px;
	color: white;
}

div#login_logout {
    float: right;
	padding-right: 5px;
	padding-top: 6px;
	color: white;
}

#login_logout a{
	color: white;
}

/*--------------- parent navigasi, main, footer -----------------*/
.container {
	margin: 0px;
	padding: 0px;
	outline-style: none;
}

/*------------------------- navigasi --------------------------*/
.navigation {
	position: fixed;
	width: 200px;
	top: 30px;
	left: 0px;
	bottom: 0px;
	overflow-y: auto;
	list-style: none outside none;
	background-color: #efefef;
}

.navigation-inner {
	padding: 15px;
	z-index:1;
}

.navigation ul li {
	list-style: none outside none;
	list-style-position: outside;
	cursor: pointer;
	text-decoration: none;
}

.navigation a {
	text-decoration: none;
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

.navigation .children {
	padding-left: 1.5em;
}

.navigation .menu a{
	color: white;
	width: 130px;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	line-height: 24px;
	margin: 5px 0px 0px;
	background: url(../images/menu-nonactive.png) no-repeat center left rgb(175, 0, 0);
	cursor: pointer;
	height: 25px;
	box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

.navigation .menu a:hover {
	width: 130px;
	color: black;
	background:  url(../images/menu-active.png) no-repeat center left white;
	box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

.navigation .menu a.active {
	width: 130px;
	color: black;
	background:  url(../images/menu-active.png) no-repeat center left white; 
	box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

.navigation .menu .child a{
	background: none repeat scroll 0% 0%;
	font-size: 12px;
	color: black;
	font-weight: normal;
	height: 10px;
	width: 130px;
	padding: 10px 20px;
	margin: 0px !important;
	line-height: 10px;
	box-shadow: 0px 0px 0px;
}

.navigation .menu .child a:hover{
	background: none repeat scroll 0% 0% #A7C942;
	font-size: 12px;
	width: 130px;
	color: black;
	font-weight: normal;
}

.navigation .menu .child a.active{
	background: none repeat scroll 0% 0% #A7C942;
	font-size: 12px;
	color: black;
	font-weight: normal;
	box-shadow: 0px 0px 0px rgb(150, 150, 150);
}

/*------------------------ footer --------------------------------*/
.footer-bar {
	position: absolute;
	height: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.footer {
	clear: both;
    font-size: 0.85em;
    white-space: nowrap;
    background: none repeat scroll 0% 0% rgb(175, 0, 0);
}

.footer ul li {
    display: inline;
}

.footer ul {
    color: white;
}

.content {
    padding: 2px 44px 5px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0;
}